<<<<<<< HEAD
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.2rem 0 1.2rem;
}

.music-player {
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 74px;
}

.main .sidebar .nav .nav-option a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
}

.main .sidebar .nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
    padding: 0.5rem 0.75rem;
}

.main .sidebar .nav .nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.main .sidebar .nav .nav-option:hover {
    opacity: 1;
}

.main .sidebar .nav .nav-option i {
    font-size: 1.25rem;
} 

.main .sidebar .library .options .lib-option a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
}

.main .sidebar .library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.75rem;
    padding: 0.5rem 0.75rem;
}

.main .sidebar .library .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
    opacity: 0.7;
}

.main .sidebar .library .options:hover {
    opacity: 1;
}

.main .sidebar .library .options .lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.main .sidebar .library .options .icons {
    font-size: 1.25rem;
    display: flex;
}

.main .sidebar .library .options .icons i {
    margin-right: 1rem;
}

.main .sidebar .library .lib-box .box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.main .sidebar .library .lib-box .box .box-p1 {
    font-size: 1rem;
    font-weight: 600;
}

.main .sidebar .library .lib-box .box .box-p2 {
    font-size: 0.85rem;
    opacity: 0.75;
}

.main .sidebar .library .lib-box .box .badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.main .main-content .sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}

.main .main-content .sticky-nav .sticky-nav-options .badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.main .main-content .sticky-nav .sticky-nav-options .dark-badge {
    background-color: #000;
    color: white;
}

.main .main-content .sticky-nav .sticky-nav-icons {
    margin-left: 0.75rem;
}

.main .main-content .sticky-nav .sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .main-content .sticky-nav .sticky-nav-options .nav-item {
    margin-right: 1.25rem;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.card {
    /* background-color: #232323; */
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    transition: background-color 0.5s;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 150px;
    height: 165px;
    border-radius: 0.5rem;
}

.card-img-2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.8rem;
    opacity: 0.7;
}

.raanjhan {
    height: 165px;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.card:hover {
    background-color: #232323;
    cursor: pointer;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
}

.player {
    width: 50%;
}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    cursor: pointer;
    margin: 0 0.5rem 0 0.5rem;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.25rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -5px;
}

.album {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-img {
    height: 80%;
    width: 4rem;
    margin-left: -9rem;
    border-radius: 5px;
}

.album-song {
    font-size: 0.75rem;
    font-weight: 700;
    margin: -1.2rem 0.5rem 0 0.8rem;
}

.album-artist {
    font-size: 0.7rem;
    opacity: 0.7;
    margin: 1rem 0 0 -9rem;
}

.album-icon {
    margin: -1rem -5rem 0 6rem;
    opacity: 0.8;
    transition: 0.4s;
}

.album-icon-2 {
    margin: -1rem -5rem 0 6rem;
    opacity: 0.8;
    transition: 0.4s;
}

.album-icon:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.15);
}

.album-icon-2:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-icon {
    margin-right: 1rem;
    opacity: 0.8;
    transition: 0.4s;
}

.controls-icon:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.15);
}

.controls-range {
    appearance: none;
}

.controls-range::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.25rem;
}

.controls-range::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -5px;
}
=======
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: #000;
  width: 340px;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.2rem 0 1.2rem;
}

.music-player {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 74px;
}

.main .sidebar .nav .nav-option a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}

.main .sidebar .nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  padding: 0.5rem 0.75rem;
}

.main .sidebar .nav .nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}

.main .sidebar .nav .nav-option:hover {
  opacity: 1;
}

.main .sidebar .nav .nav-option i {
  font-size: 1.25rem;
}

.main .sidebar .library .options .lib-option a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}

.main .sidebar .library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.main .sidebar .library .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2.5rem;
  opacity: 0.7;
}

.main .sidebar .library .options:hover {
  opacity: 1;
}

.main .sidebar .library .options .lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}

.main .sidebar .library .options .icons {
  font-size: 1.25rem;
  display: flex;
}

.main .sidebar .library .options .icons i {
  margin-right: 1rem;
}

.main .sidebar .library .lib-box .box {
  background-color: #232323;
  height: 8rem;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}

.main .sidebar .library .lib-box .box .box-p1 {
  font-size: 1rem;
  font-weight: 600;
}

.main .sidebar .library .lib-box .box .box-p2 {
  font-size: 0.85rem;
  opacity: 0.75;
}

.main .sidebar .library .lib-box .box .badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.main .main-content .sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 1;
}

.main .main-content .sticky-nav .sticky-nav-options .badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.main .main-content .sticky-nav .sticky-nav-options .dark-badge {
  background-color: #000;
  color: white;
}

.main .main-content .sticky-nav .sticky-nav-icons {
  margin-left: 0.75rem;
}

.main .main-content .sticky-nav .sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-content .sticky-nav .sticky-nav-options .nav-item {
  margin-right: 1.25rem;
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.card {
  /* background-color: #232323; */
  width: 150px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  transition: background-color 0.5s;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  width: 150px;
  height: 165px;
  border-radius: 0.5rem;
}

.card-img-2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-title {
  font-weight: 600;
}

.card-info {
  font-size: 0.8rem;
  opacity: 0.7;
}

.raanjhan {
  height: 165px;
}

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 90%;
  height: 30%;
  border-top: 1px solid white;
  opacity: 0.4;
}

.card:hover {
  background-color: #232323;
  cursor: pointer;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album {
  width: 25%;
}

.player {
  width: 50%;
}

.controls {
  width: 25%;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-control-icon {
  height: 1rem;
  margin-right: 1.75rem;
  opacity: 0.7;
}

.player-control-icon:hover {
  opacity: 1;
}

.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 70%;
  appearance: none;
  cursor: pointer;
  margin: 0 0.5rem 0 0.5rem;
}

.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.25rem;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -5px;
}

.album {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-img {
  height: 80%;
  width: 4rem;
  margin-left: -9rem;
  border-radius: 5px;
}

.album-song {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -1.2rem 0.5rem 0 0.8rem;
}

.album-artist {
  font-size: 0.7rem;
  opacity: 0.7;
  margin: 1rem 0 0 -9rem;
}

.album-icon {
  margin: -1rem -5rem 0 6rem;
  opacity: 0.8;
  transition: 0.4s;
}

.album-icon-2 {
  margin: -1rem -5rem 0 6rem;
  opacity: 0.8;
  transition: 0.4s;
}

.album-icon:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.15);
}

.album-icon-2:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-icon {
  margin-right: 1rem;
  opacity: 0.8;
  transition: 0.4s;
}

.controls-icon:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.15);
}

.controls-range {
  appearance: none;
}

.controls-range::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.25rem;
}

.controls-range::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -5px;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: #000;
  width: 340px;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.2rem 0 1.2rem;
}

.music-player {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 74px;
}

.main .sidebar .nav .nav-option a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}

.main .sidebar .nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  padding: 0.5rem 0.75rem;
}

.main .sidebar .nav .nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}

.main .sidebar .nav .nav-option:hover {
  opacity: 1;
}

.main .sidebar .nav .nav-option i {
  font-size: 1.25rem;
}

.main .sidebar .library .options .lib-option a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}

.main .sidebar .library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.main .sidebar .library .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2.5rem;
  opacity: 0.7;
}

.main .sidebar .library .options:hover {
  opacity: 1;
}

.main .sidebar .library .options .lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}

.main .sidebar .library .options .icons {
  font-size: 1.25rem;
  display: flex;
}

.main .sidebar .library .options .icons i {
  margin-right: 1rem;
}

.main .sidebar .library .lib-box .box {
  background-color: #232323;
  height: 8rem;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}

.main .sidebar .library .lib-box .box .box-p1 {
  font-size: 1rem;
  font-weight: 600;
}

.main .sidebar .library .lib-box .box .box-p2 {
  font-size: 0.85rem;
  opacity: 0.75;
}

.main .sidebar .library .lib-box .box .badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.main .main-content .sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 1;
}

.main .main-content .sticky-nav .sticky-nav-options .badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.main .main-content .sticky-nav .sticky-nav-options .dark-badge {
  background-color: #000;
  color: white;
}

.main .main-content .sticky-nav .sticky-nav-icons {
  margin-left: 0.75rem;
}

.main .main-content .sticky-nav .sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-content .sticky-nav .sticky-nav-options .nav-item {
  margin-right: 1.25rem;
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.card {
  /* background-color: #232323; */
  width: 150px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  transition: background-color 0.5s;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  width: 150px;
  height: 165px;
  border-radius: 0.5rem;
}

.card-img-2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-title {
  font-weight: 600;
}

.card-info {
  font-size: 0.8rem;
  opacity: 0.7;
}

.raanjhan {
  height: 165px;
}

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 90%;
  height: 30%;
  border-top: 1px solid white;
  opacity: 0.4;
}

.card:hover {
  background-color: #232323;
  cursor: pointer;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album {
  width: 25%;
}

.player {
  width: 50%;
}

.controls {
  width: 25%;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-control-icon {
  height: 1rem;
  margin-right: 1.75rem;
  opacity: 0.7;
}

.player-control-icon:hover {
  opacity: 1;
}

.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 70%;
  appearance: none;
  cursor: pointer;
  margin: 0 0.5rem 0 0.5rem;
}

.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.25rem;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -5px;
}

.album {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-img {
  height: 80%;
  width: 4rem;
  margin-left: -9rem;
  border-radius: 5px;
}

.album-song {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -1.2rem 0.5rem 0 0.8rem;
}

.album-artist {
  font-size: 0.7rem;
  opacity: 0.7;
  margin: 1rem 0 0 -9rem;
}

.album-icon {
  margin: -1rem -5rem 0 6rem;
  opacity: 0.8;
  transition: 0.4s;
}

.album-icon-2 {
  margin: -1rem -5rem 0 6rem;
  opacity: 0.8;
  transition: 0.4s;
}

.album-icon:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.15);
}

.album-icon-2:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-icon {
  margin-right: 1rem;
  opacity: 0.8;
  transition: 0.4s;
}

.controls-icon:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.15);
}

.controls-range {
  appearance: none;
}

.controls-range::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.25rem;
}

.controls-range::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -5px;
}
>>>>>>> e1bf7ac (Added files to Repo)
